<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Cadastro - BioPaper</title>
  <link rel="stylesheet" href="Cadastro.css">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap" rel="stylesheet">
  
</head>
<body>
  <div class="mancha-direita"></div>
  <div class="mancha-esquerda"></div>

  <div class="login-container">
    <h2 class="login-title">Cadastre-se</h2>
    <p class="login-subtitle">Faça parte da revolução verde com a BioPaper</p>

    <form action="#" method="post">
      <label for="nome">Nome completo</label>
      <input type="text" id="nome" name="nome" placeholder="Seu nome" class="input-field" required>

      <label for="email">Email</label>
      <input type="email" id="email" name="email" placeholder="Seu@gmail.com" class="input-field" required>

      <label for="cnpj">CNPJ</label>
      <input type="text" id="cnpj" name="cnpj" placeholder="Ex: Se for empresa, cadastre seu CNPJ." class="input-field" required>

      <label for="senha">Senha</label>
      <input type="password" id="senha" name="senha" placeholder="Digite sua senha" class="password-field" required>

      <button type="submit" class="login-button">Cadastrar</button>
    </form>

    <p class="registre">Já possui uma conta? <a href="/View/Login/Login.html" class="register">Faça login</a></p>
  </div>
</body>
</html>
