<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title >Login - BioPaper</title>
  <link rel="stylesheet" href="Login.css">
  <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
</head>
<body>
  <div class="mancha-direita"></div>
  <div class="mancha-esquerda"></div>

<div class="login-container">
  <div class="login-title">Login</div>
  <div class="login-subtitle">Acesse sua conta na BioPaper</div>

  <form>
    <label for="email"><b>Email ou CNPJ</b></label>
    <input class="input-field" type="text" id="email" name="email" placeholder="Digite seu email ou CNPJ">

    <label for="senha"><b>Senha</b></label>
    <input class="password-field" type="password" id="senha" name="senha" placeholder="Digite sua senha">

    <button class="login-button" type="submit"><svg xmlns="http://www.w3.org/2000/svg" width="17" height="16" viewBox="0 0 17 16" fill="none"><path d="M10.5 2H13.1667C13.5203 2 13.8594 2.14048 14.1095 2.39052C14.3595 2.64057 14.5 2.97971 14.5 3.33333V12.6667C14.5 13.0203 14.3595 13.3594 14.1095 13.6095C13.8594 13.8595 13.5203 14 13.1667 14H10.5" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/><path d="M7.1665 11.3334L10.4998 8.00002L7.1665 4.66669" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/><path d="M10.5 8H2.5" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>
    Entrar</button>
  </form>
  <p class="registre">Não tem uma conta? <a class="register" href="/View/Cadastro/Cadastro.html">Cadastre-se</p>
  <a class="forgot-password" href="#">Esqueci minha senha</a>
</div>

</body>
</html>
